.App {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    background-color: rgb(242, 205, 110);
}

.logo {
    object-fit: cover;
    width: 12vw;
    height: auto;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
button {
    width: 5%;
    color: rgb(235, 227, 227);
    height: auto;
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    border-radius: 5px;
    background-color: #353d60;
    margin-bottom: 15px;
    /* width: 50px; */
}

.intro {
    /* width: 50vw; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro-text {
    text-align: center;
    font-size: 22px;
}
.intro-text-container {
    width: 25vw;
}
#find-doggo {
    position: relative;
    bottom: 50px;
}
